@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    font-family: "Merriweather", serif;
}

h2 {
    font-family: "Manrope", sans-seri;
    
}
nav {
    font-family: "Manrope", sans-seri;  
}

/* ----------------- Class CSS ----------------- */


.nb-background-color{   /* navbar background color */
    background-color: #ffd90041;
    backdrop-filter: blur(10px);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.102);
}

body::-webkit-scrollbar {
    display: none;
}

.nbMenuItem{               /* navbar link text properties */
    font-size:25px;
    margin-left: 10px;
    margin-right: 10px;
}


.sticky-header {
    position: sticky;
    top: 20px; 
    scroll-margin-top: 20px;
  }

.navbar-brand {
    font-weight: bold;
    color: #FFD700; /* Gold color for text */
}

.navbar-brand img {
    width: 30px;
    margin-right: 10px;
}

.navbar-nav .nav-link {
    font-weight: bold;
    color: black;
}


.btn-signin {
    background-color: #FFD700;
    color: black;
    border-radius: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.btn-signin:hover {
    background-color: #FFC107; /* Slight hover effect */
    color: black;
}

.btn-login {
    background-color: transparent;
    color: black;
    border-radius: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.btn-login:hover {
    background-color: #d7d7d74a; /* Slight hover effect */
    color: black;
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}

/* ----------------- ID CSS ----------------- */

/* -----------------Underline Animation CSS -----------------*/

.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.navbar-toggler-icon {
    background-image: url("img/Hamburger_icon.svg.png");
}


.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}

.text-title {
    color: #DDBD16;
    font-weight: 400;
}

.img-aside {
    width: 50%;
    height: auto;
    object-fit: cover;
    filter: drop-shadow(1.5rem 2.25rem 0.3rem #EFDE82cc);
    margin-top: 4rem;
}

.lead {
    font-size: 1.5rem;
}

.bg-blog {
    background-color: #FFFDE7;
}

.bg-news {
    background-color: #FFFACC;
}

.bg-lessons {
    background-color: #FFF38C;
}

.container-heroes {
    height: 100vh;
}

.icon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 2;
}

.text-direction-end {
    text-align: end;
}

.text-direction-start {
    text-align: start;
}

.lesson-bar {
    background-color: #ffed85;
    width: 100%;
    padding: 1rem 2rem;
    margin-top: 2rem;
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1));
}

.lesson-bar > div {
    display: flex;
    align-items: center;
}

.lesson-bar i.bi-arrow-right {
    margin-left: auto;
}

/* ----------------- Media Query CSS ----------------- */
@media (max-width: 768px) {
    .container-heroes {
        height: fit-content;
        padding: 20px;
    }
    .text-direction-end {
        text-align: center;
    }
    .text-direction-start {
        text-align: center;
    }
}